<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header style="padding: 25px; background-color: aqua; height: 20px;">and header</header>
    <nav style="padding: 5px; background-color: blue; ;">
    <pre>
        navigation bar
    </pre></nav>
    <main  style="padding: 45px; background-color: black; height: 50px; color: wheat;"> <pre>
        in main 
        somethinng
    </pre></main>
    <footer  style="padding: 25px; background-color: blueviolet; height: 25px;"> <pre>
        inside footer 
    </pre></footer>
</body>
</html>